<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Playfair+Display&display=swap" rel="stylesheet">
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4" style="font-family: 'Playfair Display', serif;">Create an Account!</h1>
                        </div>
                            <!-- <form class="user" id="formRegister" action="#" method="post"> -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="inputFirstName" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.firstName"  placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="inputLastName" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.lastName"  placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="inputEmail" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.email"  placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.password"  id="inputPassword" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.rePassword"  id="inputRePassword" placeholder="Repeat Password">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="inputAgencyName" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.agencyName"  placeholder="Agency Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="inputAgencyDetail" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.agencyDetails"  placeholder="Agency Details">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="inputContactNumber" style="font-family: 'Mukta', sans-serif;"
                                     [(ngModel)]="registerRequests.mobileNumber"  placeholder="Contact Number">
                            </div>
                            <button type="submit" (click)="createAccount()" class="btn btn-primary btn-user btn-block" style="font-family: 'Playfair Display', serif;">
                                Register Account
                            </button>
                            <!--                            <hr>-->
                            <!--                            <a href="index.html" class="btn btn-google btn-user btn-block">-->
                            <!--                                <i class="fab fa-google fa-fw"></i> Register with Google-->
                            <!--                            </a>-->
                            <!--                            <a href="index.html" class="btn btn-facebook btn-user btn-block">-->
                            <!--                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook-->
                            <!--                            </a>-->
                        <!-- </form> -->
                        <hr>
                        <!--                        <div class="text-center">-->
                        <!--                            <a class="small" href="forgot-password.html">Forgot Password?</a>-->
                        <!--                        </div>-->
                        <div class="text-center">
                            <a class="small" href="login" style="font-family: 'Playfair Display', serif;">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</html>
